
{% extends "base.html" %}
{% block content %}
<div class="well">
        <div class="btn-toolbar" role="toolbar">   

        <h1><p class="text-align: center">Calificaciones</p></h1>
          
        </div>   
    <div id="divTabla" class="table-responsive">
        <table id = "tblTabla" class="table table-bordered table-hover">
            
            <tbody >
                {% for nota in nota %}
                    {% for mat in matricula %}
                        {% for per in persona %}
                            {% for ses in sesion %}
                                {% if nota.matricula == mat%}
                                    {% if mat.estudiante.persona == per%}
                                            {% if ses.usuario == per%}
                                            <thead>
                     <tr>
                       <td colspan="6"><strong><h5>
                       
                            {{nota.matricula.nivel}}
                       

                        </strong></h5></td>
                   </tr>
              <tr>
                <td class="success">#</td>
                <td class="success">Deberes</td>
                <td class="success">Participacion</td>
                <td class="success">L.Orales</td>
                <td class="success">L.Escrita</td>
                <td class="success">Examen</td>
                <td class="success">Total</td>
              </tr>
            </thead>

                    <tr>
                        <td >{{nota.id}}</td>
                        <td >{{nota.deberes}}</td>
                        <td >{{nota.participacionClases}}</td>
                        <td >{{nota.oral}}</td>
                        <td >{{nota.escrita}}</td>
                        <td >{{nota.examen}}</td>
                        <td >{{nota.total}}</td>
                </tr>

                                            {%endif%}
                                    {%endif%}
                                {%endif%}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}



               

            </tbody>
        </table>
        
    </div>
  <div id="datos">
        
    </div>
</div>

{% endblock content %}
{%block js%}
  

<script>



    function actualizarDatos(){
        var s = document.getElementById('usuario').value
        return s

    }
    function eliminarDatos(r){
        var s = document.getElementById('btnupdate'+r).value
        setTimeout("location.href='/cliente/eliminar/"+r+"'"+"",10);

    }

        


    </script>

    
{%endblock js%}